---
title: Fleet Commander
description: Manage your large GNOME deployments with ease.
---
%header
  .header-content
    .container
    .row
      .col-lg-6.col-lg-offset-3.text-center
        =partial "animated-logo.svg"
        :css
          #button {
            transform: scale(0);
            transform-origin: center;
            animation-name: buttonbounce;
            animation-duration: 500ms;
            animation-iteration-count:1;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
          }
          #paper1 {
            transform: matrix(1.5512631,0.25736117,-0.25351951,1.5586445,-246.33338,-1025.6786);
            animation-name: paper1reveal;
            animation-delay: 1300ms;
            animation-duration: 1s;
            animation-iteration-count:1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
          }
          #paper2 {
            transform: matrix(0.54321482,0.09293994,-0.13426739,0.56286784,-66.925292,-58.862265);
            animation-name: paper2reveal;
            animation-delay: 800ms;
            animation-duration: 1s;
            animation-iteration-count:1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
          }
          #paper3 {
            transform: matrix(0.89169925,0.14481415,-0.04922749,0.8770312,-151.12169,-287.55846);
            animation-name: paper3reveal;
            animation-delay: 1000ms;
            animation-duration: 1s;
            animation-iteration-count:1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
          }
          @keyframes buttonbounce {
            0% {transform: scale(0);}
            70% {transform: scale(1.3);}
            100% {transform: scale(1);}
          }
          @keyframes paper1reveal {
            0% {transform: matrix(1.5512631,0.25736117,-0.25351951,1.5586445,-246.33338,-1025.6786);}
            100% {transform: matrix(1.5512631,0.25736117,-0.25351951,1.5586445,18.831665,-1242.0533);}
          }
          @keyframes paper2reveal {
            0% {transform: matrix(0.54321482,0.09293994,-0.13426739,0.56286784,-66.925292,-58.862265);}
            100% {transform: matrix(0.54321482,0.09293994,-0.13426739,0.56286784,275.31439,-354.4329);}
          }
          @keyframes paper3reveal {
            0% {transform: matrix(0.89169925,0.14481415,-0.04922749,0.8770312,-151.12169,-287.55846);}
            100% {transform: matrix(0.89169925,0.14481415,-0.04922749,0.8770312,108.3865,-519.48948);}
          }
    .header-content-inner
      %h1 Massive desktop configuration made easy
      %hr
        %p Having worked with many organizations over the years who deploy =link_to "Fedora", "https://getfedora.org/" or =link_to "Red Hat Desktops", "https://www.redhat.com/en/store/red-hat-enterprise-linux-developer-workstation#?sku=RH3482727" on a large scale we realized there was a clear gap in the tools we offered sysadmins. Fleet Commander builds on excisting Red Hat lead development efforts such as the =link_to "Cockpit", "http://cockpit-project.org/" administration tools and the =link_to "FreeIPA", "https://www.freeipa.org/page/Main_Page" suite of LDAP tools. With the help of Fleet Commander you should be able to adminster hunders or thousands of Linux desktops with ease.



        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out How

%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Fleet commander is a tool for manage and deploy desktop profiles across a large network of users and workstations/laptops.
        %hr.light
    .row
      .col-lg-12.text-center
        =partial "workflow.svg"

        %p.text-faded By using a virtual machine, the admin can fine tune the configuration for a profile in real time and get an overview of the changes he made at the end of the process. After a review, those changes can be pushed to a desktop profile.
        %p &nbsp;

%section#getting
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Getting Fleet Commander
        %hr.primary
        %p
          Fleet Commander consists of three components:
        %ul
          %li
            a FreeIPA plugin that allows to store profiles into your domain controller,
          %li
            a Cockpit plugin that serves the administration, interface
          %li
            a client side service that runs on every host of the network.
        %p
          Fleet Commander uses libvirt and KVM to run a virtual desktop session that allows the user to live edit the configuration of the applications on a template system that resembles the client setup.
        .text-center
          %a.btn.btn-primary.btn-xl.page-scroll{:href => "documentation.html"} Get it!

%section#get-involved
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Get Involved
        %hr.primary
        %p
          Fleet Commander is Free Software and is developed in the open. To get in touch, use the
          %em #fleet-commander IRC channel on Freenode.
        %p
          Code can be found on
          =link_to "Github", "https://github.com/fleet-commander"
          and issues are tracked on
          = succeed "." do
            = link_to "Github Issues", "https://github.com/fleet-commander/fc-admin/issues"
        %p
          Current documentation is at
          = link_to "GNOME wiki", "https://wiki.gnome.org/Projects/FleetCommander"
